body{
    margin:0px;
    padding:0px;
    color:white;
    background-image:url('bg2.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    background-size: cover;
}
.top{
    display:flex;
    
}
.tit b{
    padding-left:50px;
    display:flex;
    padding-top:15px;
    font-size:22px;
}
.top ul, li ,a{
    display:flex;  
    transition:opacity 0.15s,color 0.15s; 
     
}
.top nav{
    padding-top:48px;
    margin-left:-7%; 

}
.top li{
    padding-right:100px;

}
.top li,a{
    color: white;
    text-decoration: none;
}
.top ul li a:active{
    color:red;
}
.top ul li a:hover{
      opacity:0.7;
}
.top img{
    margin-top:150px;
    float: left;

}
.top1{
    margin-top:210px;
    margin-left:-197px;
    font-size:15px;
}
.top1 h1::first-letter{
    font-size: 50px;
    color:red;
}
.but button a{
    color:white;
    padding:6px;

}
.but button{
    border: none;
    border-radius:4px;
    background-color: red;
    
}
.but:hover{
    opacity:0.7;
}
.but button:active{
    
    background-color:white;
}
.but button a:active{
    color:red;
}
.log{
     
    background-color: red;
    height:20px;
    width:66px;
    border-radius:14px;
    padding:4px;
    padding-left:14px;
    margin-left:260px;
    margin-top: 14px;
    transition:opacity 0.15s,background-color 0.15s;
}
.log:hover{
    opacity: 0.7;
}
.log:active{
    background-color:white;
}
 
 
